 body {
      margin: 0;
      padding: 0;
      font-family: 'JetBrains Mono', monospace;
      background: #ffffff;
      color: #252525;
      text-align: center;
      
    }

    div{
      display:flex;
      justify-content: center;
      align-items: center;
      height: 100vh;

    }