 body {
      margin: 0;
      padding: 0;
      font-family: 'JetBrains Mono', monospace;
      background: #ffffff;
      color: #252525;
      text-align: center;
      
    }

    h1{
      display:flex;
      justify-content: center;
      margin-top:45%;

    }